@import "tailwindcss";
@import "tailwindcss/preflight"
@tailwind utilities;
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: Inter, sans-serif, system-ui;

  --color-rotion-50: #ebeaed;
  --color-rotion-100: #c1bfc7;
  --color-rotion-200: #a3a0ac;
  --color-rotion-300: #797486;
  --color-rotion-400: #5f596e;
  --color-rotion-500: #37304a;
  --color-rotion-600: #322c43;
  --color-rotion-700: #272235;
  --color-rotion-800: #1e1a29;
  --color-rotion-900: #17141f;

  --animate-slide-in: slide-in 0.25s;
  --animate-slide-out: slide-out 0.25s;

  @keyframes slide-in {
    0% {
      width: 0;
    }
    100% {
      width: var(--radix-collapsible-content-width)
    }
  }

  @keyframes slide-out {
    0% {
      width: var(--radix-collapsible-content-width)
    }
    100% {
      width: 0;
    }
  }

  --animate-slide-up: slide-up 0.25s;
  --animate-slide-down: slide-down 0.25s;

  @keyframes slide-down {
    0% {
      height: 0;
    }
    100% {
      height: var(--radix-collapsible-content-height)
    }
  }

  @keyframes slide-up {
    0% {
      height: var(--radix-collapsible-content-height)
    }
    100% {
      height: 0;
    }
  }
}

@utility region-drag {
  -webkit-app-region: drag;
}
@utility region-no-drag {
  -webkit-app-region: drag;
}

html {
  overflow: hidden;
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: var(--color-rotion-600) var(--color-rotion-800); /* thumb & track */
}

/* Others */
html::-webkit-scrollbar {
  width: 6px;
}

html::-webkit-scrollbar-button {
  display: none;
}

html::-webkit-scrollbar-track {
  background: var(--color-rotion-800);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--color-rotion-600);
  border-radius: 10px;
  border: 2px solid var(--color-rotion-800);
}

html::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-rotion-500);
}